{% extends 'base.html.twig' %}

{% block title %}Available Movies!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <!-- is logged in -->
    <h1>Hello xyz! ✅</h1>

    {%  for movie in movies %}

        <h2>{{ movie.name }}</h2>

        <p><strong>Actors</strong>: {{ movie.actors }}</p>

        <p><strong>Runtime</strong>: {{ movie.runtime }}</p>

        <p><a href="{{  path('movie_view', {'id' : movie.id}) }}">Read more</a></p>

        <hr>
    {% endfor %}
</div>
{% endblock %}
