{% extends 'base.html.twig' %}

{% block title %}{{ movie.name }}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <!-- is logged in -->
        <h1>{{ movie.name }}</h1>

        <strong>Description:</strong>
        <p>
            {{  movie.description }}
        </p>

        <p>
            <img src="{{  asset('images/')}}{{ movie.getImage1 }}" alt="{{ movie.name }}" style="width: 50%; height: 50%" />
        </p>
        <p>
            <img src="{{  asset('images/')}}{{ movie.getImage2 }}" alt="{{ movie.name }}" style="width: 50%; height: 50%" />
        </p>

        <p><strong>Actors</strong>: {{ movie.actors }}</p>

        <p><strong>Runtime</strong>: {{ movie.runtime }}</p>

        <p><strong>Year of release:</strong>: {{  movie.year|date("Y") }}</p>

        <p><a href="book/{{ movie.id }}">Book now!</a></p>
    </div>
{% endblock %}
